.sidebar{
    .nav {
        >li.header{
            color: #4b646f;
            background: #1a2226;
            padding: 10px 25px 10px 15px;
            font-size: 12px;
            border-radius: 10px;
        }
    }
}


